@charset "UTF-8";

/* 초기화 */
*{border: 0; padding: 0; margin: 0; box-sizing: border-box; vertical-align: middle; color: #333333;}
ol, ul, li {list-style: none;}
a {text-decoration: none;}
img {vertical-align: top;}

/* 스킵 */
#skip {width: 100%; position: fixed; top: 0; left: 0; z-index: 999;} 
#skip li {width: 100%;} 
#skip li a {width: 100%; display: block; text-align: center; background: #000000; color: #ffffff; line-height: 0; font-size: 0;} 
#skip li a:focus {line-height: 50px; font-size: 20px;}
/* 팝업 */
#popUpBox {width: 100%; height: 100%; position: absolute; z-index: 1000; display: none;}
#popUpBox .popUp {position: absolute; width: 600px; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; border: 1px solid #000; text-align: center; background: #ffffff;}
#popUpBox .popUp p {margin: 8px 0; font-size: 18px;}
#popUpBox .popUp button {float: right; border: 1px solid #999999; padding: 5px;}
#popUpBox .popUp button:hover {cursor: pointer;}

/* 헤더 */
#header {width: 100%; height: 100px; background: #62d0e0; position: relative; z-index: 998;}
#header .inner {width: 1200px; height: 100px; text-align: center; display: flex; margin: 0 auto;}
#header .inner .left {width: 200px; height: 100px; float: left;}
#header .inner .left h1 a {display: block;}
/* 헤더 배경 */
#header .inner .right #nav .header-bg {position: absolute; z-index: 990; top: 100px; left: 0; width: 675px; height: 200px; background: #0006ff; display: none;}
/* 헤더 메인 메뉴 */
#header .inner .right {width: 1000px; height: 100px; float: left;}
#header .inner .right #nav {position: relative; float: right; display: flex; width: 700px; height: 100px; padding: 50px 25px 25px 0;}
#header .inner .right #nav > ul {width: 100%;}
#header .inner .right #nav > ul > li {float: left; width: 25%;}
#header .inner .right #nav > ul > li:hover > a {color: #ffffff; background: #0006ff;}
#header .inner .right #nav > ul > li > a {display: block; line-height: 50px; font-size: 20px; font-weight: 600;}
/* 헤더 서브 메뉴 */
#header .inner .right #nav > ul > li > .sub {position: relative; z-index: 991;  width: 100%; display: none;}
#header .inner .right #nav > ul > li > .sub li {width: 100%;}
#header .inner .right #nav > ul > li > .sub li a {display: block; line-height: 50px; color: #ffffff;}
#header .inner .right #nav > ul > li > .sub li a:hover {color: #333333; background: #ffffff;}

/* 메인 */
#main {width: 1200px; height: 500px; margin: 0 auto; position: relative;}
/* 메인 슬라이드 */
#main .slide-container {width: 100%; height: 300px;}
#main .slide-container .slide-view {width: 100%; height: 300px; overflow: hidden;}
#main .slide-container .slide-view .slide-wrap {width: 100%; height: 300px;}
#main .slide-container .slide-view .slide-wrap .slide {width: 100%; height: 300px; float: left;}
/* 메인 콘텐츠 */
#main .content {width: 1200px; height: 200px; display: flex;}
/* 공지사항 */
#main .content .notice {width: 400px; height: 200px;}
#main .content .notice h3 {margin: 8px 0 0 0;}
#main .content .notice ul {margin: 12px 0 0 0;}
#main .content .notice ul li {width: 100%; display: flex; line-height: 2.2em;}
#main .content .notice ul li:hover {text-decoration: underline;}
#main .content .notice ul li a {width: 260px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#main .content .notice ul li span {margin: 0 auto;}
/* 갤러리 */
#main .content .gallery {width: 400px; height: 200px;}
#main .content .gallery h3 {margin: 8px 0 0 0;}
#main .content .gallery ul li {width: 32%; display: inline-block; margin: 12px 0 0 0;}
#main .content .gallery ul li a img {width: 95%;}
/* 바로가기 */
#main .content .link {width: 400px; height: 200px; position: relative;}
#main .content .link a h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #cccccc; padding: 3px 8px;}

/* 푸터 */
#footer {width: 100%; height: 100px; background: #62d0e0;}
#footer .inner {width: 1200px; height: 100px; display: flex; margin: 0 auto;}
/* 푸터 왼쪽 저작권 */
#footer .inner .left {width: 1000px; height: 100px;}
#footer .inner .left p {text-align: center; line-height: 100px;}
/* 푸터 오른쪽 sns 패밀리사이트 */
#footer .inner .right {width: 200px; height: 100px;}
#footer .inner .right .sns {width: 200px; height: 50px; display: flex;}
#footer .inner .right .sns ul li {display: inline-block; align-items: center; margin: 10px 15px;}
#footer .inner .right .sns ul li a {display: block;}

#footer .inner .right .f_fam {width: 200px; height: 50px; position: relative;}
#footer .inner .right .f_fam .f_familly {border: 1px solid #000; position: absolute; left: 25%; top: 25%;}