@charset "UTF-8";

/* 초기화 */
*{border: 0; padding: 0; margin: 0; box-sizing: border-box; color: #333333;}
ol, ul, li {list-style: none;}
a {text-decoration: none;}
img{vertical-align: top;}
/* 스킵 */
#skip {position:fixed; z-index: 999; width: 100%;}
#skip li {width: 100%;}
#skip li a {display: block; width: 100%; line-height: 0px; font-size: 0; background: #000; color: #ffffff; text-align:center;}
#skip li a:focus {line-height: 50px; font-size: 20px;}

/* 전체 */
#wrap {width: 1000px; height: 650px; display: flex; position: relative;}
/* 팝업 */
#wrap #popUpBox {position: absolute; z-index: 1000; width: 100%; height: 100%; display: none;}
#wrap #popUpBox .popUp {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 500px; padding: 20px; border: 1px solid #000; background: #ffffff; text-align: center;}
#wrap #popUpBox .popUp p {margin: 10px 0 0 0;}
#wrap #popUpBox .popUp button {float: right; padding: 2px 5px; cursor: pointer;}
/* 헤더 */
#wrap #header {width: 200px; padding: 30px 0 0 0; background: #e6f0ff;}
#wrap #header h1 {display: block; width: 200px; height: 40px; font-size: 0; color: transparent;}
#wrap #header h1 a {padding: 0 0 0 10px;}
#wrap #header h1 a img {width: 90%;}
/* 헤더 메인 메뉴 */
#wrap #header #nav > ul {width: 180px; margin: 20px auto;}
#wrap #header #nav a {display: block; width: 100%; text-align: center; padding: 10px; background: #fff;}
#wrap #header #nav > ul > li.main-btn {border-bottom: 1px solid #448fff;}
#wrap #header #nav > ul > li.main-btn:hover > a {color: #ffffff; background: #5699ff;}
#wrap #header #nav > ul > li.main-btn:nth-child(1) {border-top: 1px solid #448fff;}
#wrap #header #nav > ul > li.main-btn > a {font-size: 18px; font-weight: 600;}

/* 헤더 서브 메뉴 */
#wrap #header #nav > ul > li .sub {margin: 0; display: none;}
#wrap #header #nav > ul > li .sub li:hover > a {color: #ffffff; background: #82b4ff;}

/* 메인 */
#wrap #main > * {width: 800px;}
/* 메인 슬라이드 */
#wrap #main .slide-container {width: 800px; height: 350px;}
#wrap #main .slide-container .slide-view .slide-wrap {position: relative;}
#wrap #main .slide-container .slide-view .slide-wrap .slide {width: 100%; position: absolute; float: left; top: 0; left: 0;}
#wrap #main .slide-container .slide-view .slide-wrap .slide1 {z-index: 3;}
#wrap #main .slide-container .slide-view .slide-wrap .slide2 {z-index: 2;}
#wrap #main .slide-container .slide-view .slide-wrap .slide3 {z-index: 1;}

/* 메인 컨텐츠 */
#wrap #main .content {display: flex;}
#wrap #main .content > * {height: 200px;}

#wrap #main .content .tap {width: 350px;}
#wrap #main .content .tap .tap-menu li {display: inline-block; font-size: 18px; font-weight: 600;}
#wrap #main .content .tap .tap-menu li a {display: block; padding: 10px;}
#wrap #main .content .tap .tap-menu li.on a {background: #cadfff;}
/* 탭아이템 */
#wrap #main .content .tap .tap-item > * {height: 156px; padding: 10px;}
#wrap #main .content .tap .tap-item > *.on {background: #cadfff;}
/* 공지사항 */
#wrap #main .content .tap .tap-item .notice li {display: flex; line-height: 2.2;}
#wrap #main .content .tap .tap-item .notice li a {display: inline-block; width: 230px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#wrap #main .content .tap .tap-item .notice span {margin-left: auto;}
#wrap #main .content .tap .tap-item .notice li:hover {text-decoration: underline;}
/* 갤러리 */
#wrap #main .content .tap .tap-item .gallery {display: none;}
#wrap #main .content .tap .tap-item .gallery li {display: inline-block; width: 32%; margin: 8px 0 0 0;}
#wrap #main .content .tap .tap-item .gallery li a img {width: 100%;}
/* 배너, 바로가기 */
#wrap #main .content .banner, .link {position: relative; width: 225px;}
#wrap #main .content .banner a h2, .link a h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #ffffff; color: #333333; padding: 10px; font-size: 18px;}

/* 푸터 */
/* footer */
#footer{display: flex; align-items: center;}
#footer .footerLogo{display: block; width: 200px; height: 40px; font-size: 0px; color:transparent;}
#footer .footerLogo a {padding: 0 0 0 20px;}
#footer .footerLogo a img {width: 90%;}
.bottomRight{display: flex; width:90%; flex-wrap: wrap;}
.bottomRight >*{width: 100%; height: 50px; text-align: center; line-height: 50px;}
.bottomRight ul{display: flex; justify-content: space-around;}


