@charset "UTF-8";
@import url('./reset.css');
@import url('./fonts.css');


#app {width: 1000px; margin: 0 auto;}
#app #main {}
#app #main .title {}
#app #main .title h1{}
#app #main .content {}
#app #main .content #notice {}
#app #main .content #notice .title {}
#app #main .content #notice .title form {}
#app #main .content #notice .title form div {padding: 3px 0;}
#app #main .content #notice .title form div input {border:1px solid #ccc; width: 100%; height: 50px; background: #f9f9f9; font-size: 16px; color: #333; padding: 0 15px;}
#app #main .content #notice .title form div input::placeholder {color: #ccc;}
#app #main .content #notice .title form div button {border:0px; width: 100%; height: 50px; background: #000; color: #Fff; font-size: 17px;}

#app #main .content #notice .content {}
#app #main .content #notice .content h2 {}
