@charset "UTF-8";
@import url('./reset.css');

#skip {z-index: 2; position: fixed; top: 0; left: 0; width: 100%;}
#skip li {width: 100%;}
#skip li a {background: #000; display: block; line-height: 0px; color: #fff; text-align: center; font-size: 0px;}
#skip li a:focus {font-size: 20px; line-height: 50px;}

#wrap {width: 100%;}
#wrap #header
{
    width: 100%; 
    height: 123px; 
    background: #f6f5ef; 
    border-top: 2px solid #000; 
    border-bottom: 1px solid #e5e5e5;
}
#wrap #header .container {width: 100%; max-width: 1100px; height: 123px; margin: 0 auto;}

#wrap #header .container .left {float: left; width: 75px; height: 75px;}
/* 로고 */
#wrap #header .container .left h1 {line-height: 109px;}
#wrap #header .container .left h1 a img {width: 75px;}

/* 네비게이션 */
#wrap #header .container .right {float: left; width: 1025px; height: 100%;}
#wrap #header .container .right .top {width: 100%; height: 54px; padding: 15px 0 0 0;}
#wrap #header .container .right .top #aside {width: 100%;}
#wrap #header .container .right .top #aside ul {float: right;}
#wrap #header .container .right .top #aside ul li {display: inline-block;}
#wrap #header .container .right .top #aside ul li div {padding: 0 15px;}
#wrap #header .container .right .top #aside ul li div a {color: #555; font-size: 13px;}
#wrap #header .container .right .top #aside ul li div a:hover {text-decoration: underline;}

#wrap #header .container .right .bottom {width: 100%; height: 64px;}
#wrap #header .container .right .bottom #nav {width: 100%;}
#wrap #header .container .right .bottom #nav ul {float: right;}
#wrap #header .container .right .bottom #nav ul li {float: left;}
#wrap #header .container .right .bottom #nav ul li a 
{
    display: block; 
    color: #333; 
    font-size: 13px; 
    height: 66px; 
    font-weight: 500; 
    line-height: 35px; 
    padding: 0 26px;
}
#wrap #header .container .right .bottom #nav ul li a:hover{color: #669900; background-color: #2C2A29; text-decoration: underline;}






#wrap #main {width: 100%;}
#wrap #main #section1{width: 100%; height: 637px; background: #d1131d;}
#wrap #main #section1 .container {width: 100%; max-width: 1100px; height: 100%; margin: 0 auto; background-color: rgba(0, 0, 0, .2);}

#wrap #main #section2{width: 100%; height: 62px; background-image: linear-gradient(to right, #000 0%, #000 50%, #f6f5ef 50%, #f6f5ef 100%);}
#wrap #main #section2 .container {width: 100%; max-width: 1100px; height: 100%; margin: 0 auto; background-color: rgba(0, 0, 0, .2);}
/* #wrap #main #section2{width: 100%; height: 62px; background-image: linear-gradient(to right, #f00 0%, #f00 33.333%, #0f0 33.333%, #0f0 66.666%, #00f 66.666%, #00f 100%);} */

#wrap #main #section3{width: 100%; height: 658px; background: #f6f5ef;}
#wrap #main #section3 .container {width: 100%; height: 100%;}

#wrap #main #section4{width: 100%; height: 240px; background: #1e3932;}
#wrap #main #section4 .container {width: 100%; max-width: 1100px; height: 100%; margin: 0 auto; background-color: rgba(0, 0, 0, .2);}

#wrap #main #section5{width: 100%; height: 573px; background: #ffa59c url(../img/2021_christmas2_bean_bg.jpg) no-repeat 50% 50%;background-size: cover;}
#wrap #main #section5 .container {width: 100%; max-width: 1100px; height: 100%; margin: 0 auto; background-color: rgba(0, 0, 0, .2);}

#wrap #main #section6 {width: 100%; height: 400px; background: #094a3d; }
#wrap #main #section6::after {opacity: .1;content:''; display: block; width: 100%; height: 400px; background: #094a3d url(../img/reserve_christmas_bean_211018.jpg) no-repeat 50% 50%;background-size: cover; }

#wrap #main #section7{width: 100%; height: 800px; background: url(../img/fav_prod_bg_new.jpg) no-repeat 50% 50% fixed;background-size: cover;  }
#wrap #main #section7 .container {width: 100%; max-width: 1100px; height: 100%; margin: 0 auto; background-color: rgba(0, 0, 0, .2);}

#wrap #main #section8{width: 100%; height: 400px; background: #FFF url(../img/reserve_bg_pc.png) no-repeat 50% 50%; }
#wrap #main #section8 .container {width: 100%; max-width: 1100px; height: 100%; margin: 0 auto; background-color: rgba(0, 0, 0, .2);}

#wrap #main #section9{width: 100%; height: 400px; background: url(../img/store_bg.jpg) no-repeat 50% 50%;background-size: cover; }
#wrap #main #section9 .container {width: 100%; max-width: 1100px; height: 100%; margin: 0 auto; background-color: rgba(0, 0, 0, .2);}

#wrap #footer {width: 100%; height: 601px; background: #2C2A29;}
#wrap #footer .container {width: 100%; max-width: 1182px; height: 100%; margin: 0 auto; background-color: rgba(0, 0, 0, .2);}