/* 초기화 */
* {margin: 0; border: 0; padding: 0; vertical-align: middle; box-sizing: border-box; color: #333333;}
ul, li {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-size: 14px; font-style: normal;}
a {color: #333333; text-decoration: none;}

/* 탭키 메뉴 */
#skip {width: 100%; top: 0; left: 0; position: fixed; z-index: 999;}
#skip li{width: 100%;}
#skip li a{display: block; width: 100%; text-align: center; font-size: 0; line-height: 0; color: #ffffff; background: #000;}
#skip li a:focus {font-size: 20px; line-height: 50px;}


#wrap {position: relative; z-index: 10; width: 1200px; height: 700px; margin: 0 auto;}
/* 팝업 */
.popUbBg {position: fixed; z-index: 998; width: 100%; height: 100%; background: rgba(0,0,0,0.5); display: none;}
#wrap .popUpBox {position: absolute; width: 100%; height: 100%; z-index: 999; display: none;}
#wrap .popUpBox .popUp {position: absolute; width: 600px; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; border: 1px solid #000; background: #fff; padding: 20px;}
#wrap .popUpBox .popUp p {font-size: 15px; margin: 10px 0 0 0;}
#wrap .popUpBox .popUp button {float: right; padding: 4px; cursor: pointer;}
/* 헤더 */
#wrap #header {position: relative; z-index: 11; width: 100%; height: 100px; display: flex; background: #ffffff;}
#wrap #header .headerBg {position: absolute; z-index: 10; left: 0; top: 100px; width: 100%; height: 150px; background: #41c330; display: none;}
/* 헤더 로고부분 */
#wrap #header .left {width: 200px; height: 100%; float: left;}
#wrap #header .left h1 {line-height: 100px; text-align: center; font-size: 0;}
#wrap #header .left h1 a {width: 100%; height: 100%;}
#wrap #header .left h1 a img {width: 100%; height: 100%;}
/* 헤더 메인메뉴 부분 */
#wrap #header .right {width: 1000px; height: 100%; float: left;}
#wrap #header .right #nav {width: 700px; float: right; padding: 50px 25px;}
#wrap #header .right #nav > ul {width: 100%;}
#wrap #header .right #nav > ul > li {float: left; width: 25%;}
#wrap #header .right #nav > ul > li > a {display: block; line-height: 50px; text-align: center; color: #333333; font-size: 16px;}
#wrap #header .right #nav > ul > li > a:hover {color: #ffffff;  background: #09af00;}
/* 헤더 서브메뉴 부분 */
#wrap #header .right #nav > ul > li > .sub {width: 100%; display: block; position: relative; z-index: 12;display: none;}
#wrap #header .right #nav > ul > li > .sub > li {width: 100%;}
#wrap #header .right #nav > ul > li > .sub > li a {display: block; line-height: 50px; text-align: center; background: #41c330; color: #ffffff; font-weight: 500;}
#wrap #header .right #nav > ul > li > .sub > li a:hover {color: #333333; background: #ffffff;}

/* 메인 */
#wrap #main {width: 100%; height: 500px; position: relative;}
/* 메인 이미지 슬라이드 부분 */
#wrap #main .slide-container {width: 100%; height: 300px;}
#wrap #main .slide-container .slide-view {width: 100%; overflow: hidden;}
#wrap #main .slide-container .slide-view .slide-wrap {width: 500%; margin-left: -100%; height: 300px; position: relative; left: 0; }
#wrap #main .slide-container .slide-view .slide-wrap .slide {width: 1200px; height: 300px; float: left;}
#wrap #main .slide-container .slide-view .slide-wrap .slide1 {z-index: 3;}
#wrap #main .slide-container .slide-view .slide-wrap .slide1::before {content: "슬라이드1"; position: absolute; font-size: 20px; text-align: left; background: #ffffff;}
#wrap #main .slide-container .slide-view .slide-wrap .slide2 {z-index: 2;}
#wrap #main .slide-container .slide-view .slide-wrap .slide2::before {content: "슬라이드2"; position: absolute; font-size: 20px; text-align: left; background: #ffffff;}
#wrap #main .slide-container .slide-view .slide-wrap .slide3 {z-index: 1;}
#wrap #main .slide-container .slide-view .slide-wrap .slide3::before {content: "슬라이드3"; position: absolute; font-size: 20px; text-align: left; background: #ffffff;}
/* 메인 콘텐츠 부분 */
#wrap #main .content {display: flex; width: 100%; height: 200px; margin: 20px 0 0 0;}
/* 공지사항 */
#wrap #main .content .notice {width: 400px; height: 200px;}
#wrap #main .content .notice h3 {font-size: 20px;}
#wrap #main .content .notice ul li {display: flex; line-height: 2.2em;}
#wrap #main .content .notice ul li a {width: 260px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#wrap #main .content .notice ul li span {margin: 0 auto;}
/* 갤러리 */
#wrap #main .content .gallery {width: 400px; height: 200px;}
#wrap #main .content .gallery h3 {font-size: 20px;}
#wrap #main .content .gallery ul li {display: inline-block; width: 32%; margin: 8px 0 0 0;}
#wrap #main .content .gallery ul li a img {width: 100%;}
/* 배너 */
#wrap #main .content .banner {position: relative; width: 400px; height: 200px;}
#wrap #main .content .banner a {width: 100%; height: 100%;}
#wrap #main .content .banner a h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px 20px; background: #ffffff;}

/* 푸터 */
#wrap #footer {display:flex; width: 100%; height: 100px; align-items: center; margin: 20px 0 0 0;}
#wrap #footer .footer-logo {display: block; width: 200px; height: 40px; font-size: 0px; color: transparent;}
#wrap #footer p {width: 70%; text-align: center;}
