@charset "UTF-8";
@import url(./fonts.css);
@import url(./reset.css);

ul, li {list-style: none;}
#app {width: 100%;}
#app .app {text-align: center; padding: 50px 0;}

#app .app .member-form {text-align: center; padding: 50px 0;}
#app .app .member-form h1 {padding: 100px 0;}

#app .app .member-form .form-box {width: 1000px; margin: 0 auto;}
#app .app .member-form .form-box li {padding: 10px 0;}
#app .app .member-form .form-box input {width: 100%; height: 50px; border: 1px solid #ccc; color: #333; font-size: 16px; padding: 0 15px;}
#app .app .member-form .form-box button {width: 100%; height: 50px; border: 0px; color: #fff; background: #000;}

