@charset "UTF-8";
@import url('./reset.css');

#skip {z-index:2;position:fixed;top:0;left:0;width:100%;}
#skip li {width:100%;}
#skip li a {display:block;width:100%;text-align:center;font-size:0;line-height:0;color:#fff;background:#000;}
#skip li a:focus {font-size:20px;line-height:50px;}

#wrap {z-index:1;position:relative;width:1200px;margin:0 auto;height:700px;}
#wrap #header {width:100%;height:100px;background-color:#99c;}
#wrap #header .left {width:180px;height:100px;background-color:#cff;float:left;}
#wrap #header .right {width:1020px;height:100px;background-color:#ffc;float:left;}
#wrap #header .right #nav {float:right;;width:700px;padding:25px 25px 25px 0;}
#wrap #header .right #nav > ul {width:100%;}
#wrap #header .right #nav > ul > li {float:left;width:25%;}
#wrap #header .right #nav > ul > li > a {display:block;line-height:50px;text-align:center;color:#000;font-size:15px;background:#fff;}
#wrap #header .right #nav > ul > li > a:hover {background:#000;color:#fff;}

/* 서브메뉴 */
#wrap #header .right #nav > ul > li > .sub {background:#f0f0f0;width:100%;text-align:center;display:none;}
/* #wrap #header .right #nav > ul > li:hover > .sub {display:block;} 테스트 점검 */
#wrap #header .right #nav > ul > li > .sub ul {width:100%;padding:10px 0;}
#wrap #header .right #nav > ul > li > .sub ul li {width:100%;}
#wrap #header .right #nav > ul > li > .sub ul li a {display:block;line-height:28px;}
#wrap #header .right #nav > ul > li > .sub ul li a:hover {background:#000;color:#fff;}


#wrap #main  {width:100%;height:500px;background-color:#9cc;}
#wrap #main #section1 {width:100%;height:300px;background-color:#fff;}
#wrap #main #section2 {width:100%;height:200px;background-color:#fff;}

/* 왼쪽 칸 */
#wrap #main #section2 .left   {width:400px;height:200px;float:left;}
/* 공지사항 & 갤러리 */

/* 버튼 */
#wrap #main #section2 .left .gap {margin: 0; height: 100%;}
#wrap #main #section2 .left .gap .container{width: 100%; height:200px; padding: 40px 0 0 0; position: relative;}
#wrap #main #section2 .left .gap .container button {position: absolute; top: 0; left: 10px; background: #fff;
                                                    color: #000; border: 1px solid #bbb; height: 40px; width: 100px; z-index: 2; border-radius: 3px 3px 0 0;}
#wrap #main #section2 .left .gap .container button.notice-btn {border-bottom: 0; height: 41px;}
#wrap #main #section2 .left .gap .container button.notice-btn.addGallery {background-color: #f9f9f9; height: 40px;}
#wrap #main #section2 .left .gap .container button.notice-btn.addGallery:hover {background-color: #c0c0f1;}
#wrap #main #section2 .left .gap .container button.gallery-btn {left: 110px; background-color: #e0e0e0; border-bottom: 0;cursor: pointer; transition: all .3s;}
#wrap #main #section2 .left .gap .container button.gallery-btn.addGallery {background-color: #f9f9f9; height: 41px;}
#wrap #main #section2 .left .gap .container button.gallery-btn:hover {background-color: #c0c0f1;}
#wrap #main #section2 .left .gap .container button.gallery-btn.addGallery:hover {background-color: #f9f9f9;}

/* 공지사항 박스 */
#wrap #main #section2 .left .gap .container .notice-box {display:block; width: 100%; height: 100%; background: #f6f6f6; position: relative; z-index: 1; border: 1px solid #bbb;}
#wrap #main #section2 .left .gap .container .notice-box.addGallery {display:none;}
#wrap #main #section2 .left .gap .container .gallery-box {display: none; width: 100%; height: 100%; background: #f6f6f6; position: relative; z-index: 1; border: 1px solid #bbb;}
#wrap #main #section2 .left .gap .container .gallery-box.addGallery {display: block;}


/* 가운데 칸 */
#wrap #main #section2 .center {width:400px;height:200px;background-color:#cff;float:left;}
/* 오른쪽 칸 */
#wrap #main #section2 .right  {width:400px;height:200px;background-color:#ffc;float:left;}


/* 푸터 */
#wrap #footer {width:100%;height:100px;background-color:#cc9;}
#wrap #footer .left {width:180px;height:100px;background-color:#cc9;float:left;}
#wrap #footer .right {width:1020px;height:100px;float:left;}
#wrap #footer .right .top    {width:100%;height:50px;background-color:#c99;}
#wrap #footer .right .bottom {width:100%;height:50px;background-color:#9cc;}