@charset "UTF-8";
@import url('./reset.css');
@import url('./fonts.css');


#app {width: 1000px;}
#app .title {padding: 50px 0 0 0;}
#app .title h1 {padding: 50px 0 20px 0;}
#app .title h2 {padding: 20px 0 0 0;}

#app .content {padding: 50px 0 20px 0;}
#app .content h3 {padding: 0 0 20px 0;}
#app .content ul {line-height: 200%;}
